*{
    box-sizing:border-box;
}
body{
    background-image: url("image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 600px;
    height:300px;
    background:rgb(58, 165, 58);
    margin:auto;
    margin-top:150px;
    padding:10px;
    font-size:24px;
    text-align:center;
    border-radius: 5px;
    font-family:"Times New Roman";
    font-weight: bold;
   
}
input{
    text-align:center;
    width:400px;
    padding:20px;
    margin-top:10px;
    font-size:20px;
    margin-bottom:10px;
    border-radius:5px;
}
button{
    font-size : 24px;
    padding-right: 30px;
    padding-left:30px;
    cursor: pointer;
    margin-top:10px;
}
div#logo{
    margin:auto;
    margin-top:30px;
    padding:10px;
   
}

#logo{
    text-align:center;
    width:400px;
    height:50px;
    padding:30px;
    font-size:30px;
    border-radius:5px;
    background:whitesmoke;
}


